.App{
 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(0deg, rgb(238, 243, 231) 0%, rgb(168, 219, 191) 100%);
}

.images{
  position: relative;
}

.image{
  position: absolute;
  top: 0;
  width: 35rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
  box-shadow: 5px 5px 5px rgb(177, 157, 133);
  transition: transform 0.5s ease-in-out;
}
.next{
  position: absolute;
  top: 85%;
  left: 60%;
  color: rgb(245, 127, 30);
 
}
.prec{
  position: absolute;
  top: 85%;
  right: 60%;

 
  color: rgb(245, 127, 30);
}
.circlePassive {
  margin: 2rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}
.circleActive {
  margin: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: rgb(245, 127, 30);
  display: inline-block;
}
.bulles{
  position: absolute;
  top: 82%;
  left: 40%;
  list-style-type: none; 
  display: inline-block;
}